.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    & img {
      max-width: 100%;
    }
  
    & > a {
      display: flex;
      flex-direction: column;
  
      height: 100%;
  
      color: inherit;
      text-decoration: none;
  
      & > h1 {
        align-self: center;
        margin: auto 0 0;
        padding: 1rem 0;
  
        font-size: 1.6rem;
        font-weight: normal;
      }
    }
  }
  
  .list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }